.htaccess
.user.ini
pass.php
/nbproject/private/
/labs/lab3/uvmclasses/uvm-classes-master-c0239f041ae0fe82df99909bafb5b0540b26f046/nbproject/private/
/labs/uvmclasses/nbproject/private/
/uvmclasses/nbproject/private/